@charset "UTF-8";

/*
    Paleta de cores
    Verde: #49a49d
    Lilás: #5f2c82
*/

* {
    font-family: -apple-system, BlinckMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /* é p/ que a borda faça parte da conta de largura */
}

body, html {
    background-color: #5f2c82; /* como essa cor é p/ celular, então não seria degradê */
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    width: 100vw;
    position: relative; /* é p/ centralizar */
}

section#login {
    background-color: white;
    width: 250px; /* largura da tela do celular (mobile first) */
    height: 500px; /* altura da tela do celular */
    border-radius: 20px;
    position: absolute; /* p/ fazer ele ficar no meio da tela */
    top: 50%; /* p/ fazer ele ficar no meio da tela */
    left: 50%; /* p/ fazer ele ficar no meio da tela */
    transform: translate(-50%, -50%); /* p/ encaixar corretamente no (meio), seria metade p/ esquerda e metade p/ cima */
    overflow: hidden; /* é p/ que tudo que estiver fora da borda, ficará escondido */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.623);
    transition: width 0.5s, height 0.5s; /* é p/ fazer uma animação, tempo de 3segundos p/ aumentar ou diminuir */
    transition-timing-function: ease; /* é p/ diminuir a velocidade da animação acima */
}

section#login > div#imagem {
    background: #5f2c82 url(../imagens/pexels-dinnow-9444476.jpg);
    height: 200px; /* é p/ aparecer a imagem */
    background-size: cover; /* é p/ aumentar a imagem */
    background-position: left ; /* é p/ posicionar a imagem, à esquerda  */
    display: block; /* é p/ ser exibida em bloco, por padrão (visualmente não muda nada) */
}

section#login > div#formulario {
    padding: 10px;
    display: block; /* é p/ ser exibida em bloco, por padrão (visualmente não muda nada) */
}